<div data-sly-use.var="${'com.adobe.aem.guides.vishnu.core.models.HtlTrainingListRepeat'}"></div>

=============Using List=========
<div data-sly-list.item=${var.authorBooks}>
${item}<br>
</div>

=========using List with MAP =========
<div data-sly-list.item="${var.bookDetailsWithMap}">
<br>Book ${itemList.count}
<br>Book Name : ${item.BOOKNAME}
<br>Book Subject:${item.BOOKSUBJECT}
<br>Book Publish Year:${item.PUBLISHYEAR}
</div>

========Using  Map========
<div data-sly-list.item="${var.sampleMap}">
<br>Book ${itemList.count}
<br>Key Name : ${item}
<br>Key Value:${var.sampleMap[item]}
</div>

========Repeat Usage===========
<div class="repeat" data-sly-repeat.item="${var.authorBooks}">
<p>Book ##${itemList.count}: <b>${item}</b></p>
</div>





